@import "../vendor/aboleon-framework/css/panel.css";
@import "../vendor/aboleon-framework/css/show.css";
ul.aboleon-framework-actions {
    float: right;
    align-items: center;
    li .lg-link {
        padding: 5px 6px 4px;
        margin-top: -1px;
        display: block;
        img {
            border-radius: 2px;
        }
        a {
            display: initial;
            width: auto;
            height: auto;
            color: black;
            font-weight: 700;
            &:first-of-type {
                margin-left: 5px;
            }
            &:last-of-type {
                margin-right: 5px;
            }
            &:hover {
                color: var(--base-1);
                text-decoration: underline;
            }
        }
    }
}
.yajra-datatable, .table.index {
    thead th:last-of-type {
        text-align: right;
    }
}
.add-dynamic {
    cursor: pointer;
    i {
        color: #73879C;
        transition: 200ms all ease;
        &:hover {
            color: #48a97c;
        }
    }
}

.btn-danger,.aboleon-framework-status.offline, .aboleon-framework-bg-red {
    background: var(--base-1);
}
.aboleon-framework-bg-green {
    background: #48a97c;
}
.btn-danger:hover {
    background: #607d8b;
    border-color:#607d8b;
}
.aboleon-framework-badge {
    padding: 4px 10px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 700;
}
.aboleon-framework-bg-red {
    background: var(--base-1);
    color:white
}
.aboleon-framework-bg-yellow {
    background: var(--ab-yellow);
    color: #1A1A1A;
}
.aboleon-framework-bg-default {
    background: var(--ab-blue-grey);
    color: white;
}
b {
    color: black;
}
